<section class="Form  my-5">
    <div class="container">
       
                <form>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <label class="my-1"> Task Header </label>
                            <input type="text" placeholder="Enter task header" class="form-control my-2">
                        </div>                        
                    </div>
                    
                    <div class="form-row">
                        <div class="col-lg-7">
                            <label class="my-1"> Description </label>
                            <textarea type="text" placeholder="Enter task description" class="form-control my-2"></textarea>
                        </div>                        
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <label class="my-1"> Start Date</label>
                            <input type="date"  class="form-control my-2">
                        </div>                        
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <label class="my-1"> End Date </label>
                            <input type="date"  class="form-control my-2">
                        </div>                        
                    </div>
                    <div class="form-row">
                        <!-- <div class="col-lg-7">
                            <input type="text" placeholder="" class="form-control my-2">
                        </div>                         -->
                        <!-- <div class="d-inline-block" ngbDropdown>
                            <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor >Select Task Status</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownManual">
                              <button >In Progress</button>
                              <button ngbDropdownItem>Completed</button>  
                              <button ngbDropdownItem>Yet To Start</button>                
                            </div>
                          </div> -->
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <input type="button" value="Edit Task" class="submit-button my-2">
                        </div>                        


                       
                    </div>
                </form>

    </div>
</section>